In [4]:
import pandas as pd
import requests
import datetime # https://docs.python.org/3/library/datetime.html

In [43]:
link = 'https://data.brasil.io/dataset/covid19/caso.csv.gz'
response = requests.get(link) # acessando via "navegador"
response

In [44]:
data = datetime.datetime.now().strftime("%Y%m%d-%H%M")
file_name = f'download-{data}.csv.gz'
arquivo = open(file_name, 'wb') # response
arquivo.write(response.content)
arquivo.close()

In [31]:
df = pd.read_csv(file_name)

In [33]:
cidades = ['Três Corações', 'Santa Rita do Sapucaí', 'Cachoeira de Minas', 'Piranguinho', 'Itajubá', 'Poços de Caldas', 'Pouso Alegre']

In [38]:
df = df[df['city'].isin(cidades)]
df[df['city'].isin(cidades)]['city'].unique() # conferir se as cidades foram "pegas"

array(['Cachoeira de Minas', 'Itajubá', 'Piranguinho', 'Pouso Alegre',
       'Poços de Caldas', 'Santa Rita do Sapucaí', 'Três Corações'],
      dtype=object)

In [51]:
df = df.reset_index()[['date','city', 'confirmed', 'deaths']]

In [54]:
df = df.rename(columns={'date': 'data', 'city': 'cidade', 'confirmed': 'casos_confirmados', 'deaths': 'mortes_confirmadas'})

In [56]:
df.sort_values('data', inplace=True)

In [58]:
df.head()

           data           cidade  casos_confirmados  mortes_confirmadas
674  2020-03-20  Poços de Caldas                  1                   0
673  2020-03-21  Poços de Caldas                  1                   0
672  2020-03-23  Poços de Caldas                  1                   0
671  2020-03-24  Poços de Caldas                  1                   0
670  2020-03-25  Poços de Caldas                  1                   0

In [62]:
df_teste = df[df['cidade'] == 'Poços de Caldas'].copy()

In [66]:
df_teste['shift_casos'] = df_teste['casos_confirmados'].shift(fill_value=0)
df_teste.head()

,data,cidade,casos_confirmados,mortes_confirmadas,shift_casos
674,2020-03-20,Poços de Caldas,1,0,0
673,2020-03-21,Poços de Caldas,1,0,1
672,2020-03-23,Poços de Caldas,1,0,1
671,2020-03-24,Poços de Caldas,1,0,1
670,2020-03-25,Poços de Caldas,1,0,1

In [67]:
df_teste['casos_confirmados_dia'] = df_teste['casos_confirmados'] - df_teste['shift_casos']

In [69]:
df_teste['shift_mortes'] = df_teste['mortes_confirmadas'].shift(fill_value=0)
df_teste['mortes_confirmadas_dia'] = df_teste['mortes_confirmadas'] - df_teste['shift_mortes']

In [72]:
df_teste.head()

,data,cidade,casos_confirmados,mortes_confirmadas,shift_casos,casos_confirmados_dia,shift_mortes,mortes_confirmadas_dia
674,2020-03-20,Poços de Caldas,1,0,0,1,0,0
673,2020-03-21,Poços de Caldas,1,0,1,0,0,0
672,2020-03-23,Poços de Caldas,1,0,1,0,0,0
671,2020-03-24,Poços de Caldas,1,0,1,0,0,0
670,2020-03-25,Poços de Caldas,1,0,1,0,0,0

In [98]:
# df_resultado = pd.DataFrame([], columns=df.columns)
# df_resultado_2 = pd.DataFrame([], columns=df.columns)
for cidade in cidades:
    df_cidade = df[df['cidade'] == cidade].copy()
    
    df_cidade['shift_casos'] = df_cidade['casos_confirmados'].shift(fill_value=0)
    df_cidade['casos_confirmados_dia'] = df_cidade['casos_confirmados'] - df_cidade['shift_casos']
    
    df_cidade['shift_mortes'] = df_cidade['mortes_confirmadas'].shift(fill_value=0)
    df_cidade['mortes_confirmadas_dia'] = df_cidade['mortes_confirmadas'] - df_cidade['shift_mortes']
    # df['casos_confirmados_dia'] = df_cidade['casos_confirmados_dia']
    # df_resultado.append(df_cidade, sort=False)
    # df = pd.merge(df, df_cidade)
    # df_resultado_2 = pd.concat([df_resultado_2, df_cidade])

In [99]:
df_cidade

Empty DataFrame
Columns: [data, cidade, casos_confirmados, mortes_confirmadas, casos_confirmados_dia, shift_casos]
Index: []

In [80]:
#merge, join, concat
# https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html

In [ ]:
# input/store no mongo(banco)